#nav_menu ul {
    list-style-type: none;
    padding: 1em 0; /* padding above and below li elements */
    text-align: center;
    border-top: 2px solid rgb(12, 0, 185);
    border-bottom: 2px solid rgb(12, 0, 185); 
}

    #nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
 }
    #nav_menu ul li a {
    font-weight: bold;
    color: rgb(12, 0, 185); 
}
    #nav_menu ul li a.current { 
        text-decoration: none; 
    }