html{
    background-image: linear-gradient(to right, white 0%, #0f0050 100%);    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    width:95%;
    height:98%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid #0f0050;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0 #0f0050;
    background-image: url('../images/star.png');
    background-position: right;
    background-repeat: repeat-y;
    background-attachment:fixed;
    background-size: 200px;
    position: relative;
}
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0; 
    text-align: center;
    border-top: 2px solid rgb(12, 0, 185);
    border-bottom: 2px solid rgb(12, 0, 185); 
}

    #nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
 }
    #nav_menu ul li a {
    font-weight: bold;
    color: rgb(12, 0, 185); 
}
    #nav_menu ul li a.current { 
        text-decoration: none; 
    }
    article h1{
        color: rgb(12, 0, 185);
        font-weight: bold;
    }
    article img {
        float:left;
    }
    article p::first-letter {
        font-size: 3em;
        font-weight: bold;
        font-style: italic;
        color: rgb(12, 0, 185);
    }
    article h2{
        color:rgb(12, 75, 46)
    }
    article {
        width: 75%;
        margin-left:1%;
        column-count: 3;
        column-rule-style: dotted;
        column-rule-color: rgb(12, 0, 185);
        column-rule-width: 3px;
        position: relative left;        
    }
    aside ol {
        list-style-type: upper-roman;
    }
    aside ul{
        list-style-type:square;
    }
    #analysis_list li{
        list-style-type: lower-alpha;
    }
    aside{
        padding: 25px;
        color: rgb(12, 0, 185);
    }
    section aside.fixed {
        width:20%;
        padding:15px;
        background-color:rgb(115, 176, 204);
        border: 2px rgb(12, 0, 185);
        border-style:solid;
        font-size: 90%;
        text-align: center;
        margin-right:10px;
        position: fixed;
        z-index: 3 !important;
    }
    footer {
        border-top: 2px solid rgb(12, 0, 185);
        text-align: center;
        font-size: 80%;
        
    }