html{
    background-image: linear-gradient(to bottom, white 0%, #fc8eac 100%);    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    width:1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid darkmagenta;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0 darkmagenta;
    background-image: url('../images/simple-flower.png');
    background-position: right;
    background-repeat: repeat-y;
    background-attachment:fixed;
    background-size: 250px;
}
a:focus, a:hover {
    font-style: italic;
    color: rgb(218, 155, 201);
}
header h1 {
    font-size: 175%;
    color: darkmagenta;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
}
header img {
    float:left;
    margin-left: 2em;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(128, 0, 0);
}
main {
    clear: left;
}
main h3 {
    margin: 3em 2em 1.5em;
    border: 5px double lightskyblue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgb(106, 151, 109);
    padding: 1em;
    font-size: 105%;
}
main nav{
    margin: 1.5em 2em 1.5em;
    border:5px dashed lightskyblue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgb(106, 151, 109);
    padding:1em;
}
main div{
    margin: 1.5em 2em 0em;
    border: 5px dotted lightskyblue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgb(106, 151, 109);
    padding: 1em;
}
#list {
    line-height: 1.5em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}