#nav_menu ul {
    list-style-type: none;
    padding: 1em 0; /* padding above and below li elements */
    text-align: center;
    border-top: 2px solid lightskyblue;
    border-bottom: 2px solid lightskyblue; 
}

    #nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
 }
    #nav_menu ul li a {
    font-weight: bold;
    color: rgb(106, 151, 109); 
}
    #nav_menu ul li a.current { 
        text-decoration: none; 
    }
article h2{
    color:  rgb(106, 151, 109);
}
aside ol {
    list-style-type: upper-roman;
}
aside ul{
    list-style-type:square;
}