html{
    background-image: linear-gradient(to left, white 0%, #fc8eac 100%);    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    width:90%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid darkmagenta;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0 darkmagenta;
}
a:focus, a:hover {
    font-style: italic;
    color: rgb(218, 155, 201);
    border: 3px lightskyblue;
    border-style: dotted solid
}
header h1 {
    font-size: 175%;
    color: darkmagenta;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
}
header img {
    float:left;
    margin-left: 2.5em;
}
header{
    border-bottom: 2px solid darkmagenta;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(128, 0, 0);
}
article {
    clear: left;
    width: 70%;
    float:left;
    column-count: 2;
    column-rule-style: dotted;
    column-rule-color: darkmagenta;
    column-rule-width: 3px;
    column-gap: 2em;
    margin-left: 2em;
}
article h3{
    column-span:all;
}
article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: rgb(218, 155, 201);
}
aside{
    width: 20%;
    float: right;
    background-color: rgb(238, 215, 170);
    padding: 25px;
}
p.fixed{
    text-align: right;
    background-color: palegreen;
    padding: 25px;
}
footer{
    clear: both;
    border-top: 2px solid darkmagenta;
    text-align: center;
    font-size: 80%;
    width:auto
}
